BOT_TITLE=XRP SWAP BOT
BOT_USERNAME=XRPL SWAP BOT
DB_NAME=xrpl-swap-bot

MAIN_WSS_RPC="wss://s1.ripple.com" ### You can replace this with your paid plan xrpl wss rpc

BOT_TOKEN=

XRP_FEE_WALLET=
BUY_FEE_PERCENT=
SELL_FEE_AMOUNT=

USD_ADDR=USD.rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq